<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ReSearch Engine</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script language="JavaScript" type="text/javascript">
        window.addEventListener('load', function() {

            function invoke() {
                var term = document.getElementById("search_input").value;
                //alert(term);
                $.ajax({
                    url: 'http://localhost:3000/getResults',
                    data: 'term=' + term, // Send value of the clicked button
                    dataType: 'json',
                    success: function (resp) {
                        var resultDiv = document.getElementById('results');
                        var respContents = "";
                        var data = resp;

                        // Sort results based on score
                        var output = [];
                        for (var key in data) {
                            data[key].key = key;   // save key so you can access it from the array (will modify original data)
                            output.push(data[key]);
                        }

                        output.sort(function(a,b) {
                            return(b.score - a.score);
                        });

                        for (var i =0; i< output.length; i++) {
                          respContents += "<h4>" + output[i].title + " <small>(Score: " + output[i].score + ")</small></h4><blockquote>";
                          respContents += "<h5><p><a href='"+ output[i].key +"'>" + output[i].key.replace("http://","") + "</a></p></h5></blockquote>"
                        }
                        resultDiv.innerHTML = respContents;
                        $("#results").fadeIn(1000);
                    },
                    error: function (resp) {
                        var resultDiv = document.getElementById('results');
                        var respContents = "<br /><br /><div class='alert alert-warning'>That's all folks!</div>"
                        resultDiv.innerHTML = respContents;
                        $("#results").fadeIn(1000);
                    }
                });
                return true;
            }

            document.getElementById("koumpi").addEventListener("click", invoke);
        });
    </script>
</head>
<body>
<br/>
<br/>
<br/>
<br/>

<div class="row">
    <div class="col-md-4 col-md-offset-4" align="center">
        <p class="text-center">

        <h1>ReSearch Engine</h1>

        <form role="form" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="search_input" placeholder="Re..Search!">
                <button type="button" class="btn btn-warning" id="koumpi">Search!</button>
            </div>

        </form>
        </p>
    </div>
    <br />
    <br />
    <div class="col-md-6 col-md-offset-4" align="left" id="results">

    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
